:root {
  --primary: #fb5b21;
  --secondary: #bdbdbf;
  --light: #f4f5f8;
  --dark: #222429;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Oswald", sans-serif;
  margin-right: 30px;
  padding: 40px 0;
  color: var(--light);
  font-size: 17px;
  text-transform: uppercase;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 36, 41, 0.8);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.bg-carousel {
  background: linear-gradient(rgba(34, 36, 41, 0.8), rgba(34, 36, 41, 0.8)),
    url(../img/carousel-1.jpg) top center no-repeat;
  background-size: cover;
}
#carousel {
  position: relative;
  z-index: 1;
}
/*saját kezdés*/

body {
  overflow-x: hidden;
}

#footer {
  background-color: #111111;
  width: 100%;
}
#registerOuter {
  display: flex;
  flex-direction: column;
  height: 81.2vh;
  align-self: center;
  justify-content: center;
 height: 770px;
}

#registerImg {
  background-size:cover;
  background-position: center;
  min-height: 500px;
}
@media (max-width: 990px) {
  #registerOuter {
    height: 1200px;
  }
  #registerImg {
    display: block;
    background-size: cover;
    background-position: center;
  }

  body {
    overflow-x: hidden;
  }
}
img{
  background-size: cover;
  background-position: center;
}
#Login{
  margin-bottom: 10px;
}
#profile-main{

  display: flex;
  flex-direction: column;
  background: rgba(34, 36, 41, 0.8);
  align-self: center;
  justify-content: center;
  width: 100%;
}
#profile-wall{
  border-right : 1px solid white;
}
@media (max-width: 650px) {
  #profile-wall{
    border-right : none;
    border-bottom : 1px solid white;
  }

}

#profile-image{
  max-height: 320px;
  min-height: 320px;
  max-width: 320px;
  min-width: 320px;
}
div.col-md-4.my-5{
  align-items: center;
}

.profile-form-box{
  position: relative;
  margin: 6% auto;
}
.profile-toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}


#edit{
  overflow-x: hidden;
}
.edit_container {
  height: 600px;
  width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}
.edit_btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.edit_det,
.edit_cred {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
 
.edit_slider {
    height: 60px;
    width: 140px;
    border-radius: 50px;
    background-color: #fb5b21;
    position: absolute;
    left: 445px;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
}
 
.edit_moveslider {
    left: 595px;
}
.edit_form-section {
    height: 500px;
    width: 500px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;

}
 
.edit_form-section-move {
    left: -1200px;
}
 
.edit_det-box,
.edit_cred-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 600px;

}
 
.edit_det-box {
    gap: 50px;
}
 
.edit_cred-box {
    gap: 30px;
}
 
.edit_field {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding-left: 30px;
    font-size: 18px;
}
 
.edit_clkbtn {
    height: 60px;
    width: 150px;
    font-size: 22px;
    border-color: #fb5b21;
    cursor: pointer;
}
 
/* For Responsiveness of the page */
 
@media screen and (max-width: 650px) {
    .edit_container {
        height: 600px;
        width: 300px;
    }
    .edit_btn {
        height: 50px;
        width: 250px;
        margin: 20px auto;
    }
 
    .edit_det,
    .edit_cred {
        font-size: 19px;
    }
 
    .edit_slider {
        height: 50px;
        width: 110px;
        left: 25px;
    }
 
    .edit_moveslider {
        left: 150px;
    }
 
    .edit_form-section {
        height: 500px;
        width: 300px;

      left: -450px;

    }
 
    .edit_form-section-move {
        left: -1650px;
    }
 
    .edit_det-box,
    .edit_cred-box {
        height: 100%;
        width: 300px;
    }
 
    .edit_field {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
 
    .edit_clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
 
@media screen and (max-width: 320px) {
    .edit_container {
        height: 600px;
        width: 220px;
    } 
    .edit_btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .edit_det,
    .edit_cred {
        font-size: 19px;
        width: 100px;
    }
 
    .edit_slider {
        height: 50px;
        width: 90px;
        left: 15px;
    }
 
    .edit_moveslider {
        left: 108px;
        width: 105px;
    }
 
    .edit_form-section {
        height: 500px;
        width: 500px;
        left: -480px;
    }
 
    .edit_form-section-move {
        left: -1680px;
    }
 
    .edit_det-box,
    .edit_cred-box {
        height: 100%;
        width: 250px;
    }
 
    .edit_field {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }
 
    .edit_clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}



#profile-img + label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#profile-img + label:hover {
  background-color: #f9f9f9;
  border-color: #ddd;
}

#profile-img + label:active {
  background-color: #eee;
  border-color: #ccc;
}

#profile-img:valid + label {
  border-color: #0c0;
}

#profile-img:invalid + label {
  border-color: #c00;
}
